html {
	font-family: "Patrick Hand SC";
	color: black;
}

h1 {
	text-align: center;
	font-size: 30pt;
}

h2 {
	font-size: 20pt;
	padding-left: 10%;
}

h3 {
	text-align: center;
	font-size: 17pt;
}

body {
	background-color: #FFFFFF;
	
}

p {
	font-family: "Lato";
	font-size: 12pt;
	padding-left: 10%;
	padding-right: 10%;
}

img {
	height: 200px;
	width: auto;
}

#character-set {
	margin: 0 auto;
    width: 60%; 
}

.overlay {  
    width: 100%;
  	top: 0;
  	height: 0;
    position: fixed; 
    z-index: 1; 
    left: 0;
    background-color: rgb(173,97,49); 
    overflow-x: hidden;
    transition: 0.5s; 
}

#carolyn-overlay {
	background-color: rgb(255, 136, 227);
}

#diane-overlay {
	background-color: rgb(87, 124, 40);
}

#mr-peanutbutter-overlay {
	background-color: rgb(254, 200, 0);
}

#todd-overlay {
	background-color: rgb(200, 0, 36);
}

.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; 
    left: 15%;
    margin-top: 30px;
}