body {
	font-family: "Patrick Hand SC";
	color: black;
	background: url("background2.png") repeat-x;
	background-size: 100% 100%;
}

.word-count {
	color: black;
}

h1 {
	text-align: center;
	font-size: 45pt;
	padding-top: 4%;
	padding-bottom: 4%;
	color: black;
}

h2 {
	font-size: 20pt;
	padding-left: 10%;
}

h3 {
	text-align: center;
	font-size: 17pt;
}

p {
	font-family: "Lato";
	font-size: 14pt;
	padding-left: 10%;
	padding-right: 10%;
}

img {
	height: 200px;
	width: auto;
}

#character-set {
	margin: 0 auto;
    width: 60%; 
}

.overlay {  
    width: 100%;
  	top: 0;
  	height: 0;
    position: fixed; 
    z-index: 1; 
    left: 0;
    background-color: rgb(173,97,49); 
    overflow-x: hidden;
    transition: 0.5s; 
}

#carolyn-overlay {
	background-color: rgb(255, 136, 227);
}

#diane-overlay {
	background-color: rgb(87, 124, 40);
}

#mr-peanutbutter-overlay {
	background-color: rgb(254, 200, 0);
}

#todd-overlay {
	background-color: rgb(200, 0, 36);
}

.overlay-content {
    position: relative;
    width: 100%; 
    left: 10%;
    margin-top: 50px;
}

.quote-container {
    position: relative;
    text-align: center;
    color: black;
    height: 200px;
    width: 274px;
    margin-bottom: -70px;
    margin-left: -30px;
}

.quote-container-flip {
    position: relative;
    text-align: center;
    color: black;
    height: 200px;
    width: 274px;
    margin-bottom: -70px;
    margin-right: 30px;
}

.first {
    position: absolute;
    top: 75px;
    left: 65px;
}

.row {
    display: flex;
}

.btn-outline-light {
	font-size: 20px;
	margin-left: 5%;
}

.left {
	background-color: white;
	color: black;
	padding: 30px;
	border-radius: 20px;
}

.right {
	padding-left: 20%;
	flex: 50%;
}

.subtitle {
	font-size: 20px;
	text-decoration: underline;
}

.big-text {
	font-size: 54px;
}
